.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.8);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  padding-top: 60px; 
  padding-bottom: 60px; 
  z-index: 999;
}

.modal-content-income,
.modal-content-savings {
  background-color: #000;
  color: white;
  padding: 1rem 1.2rem;
  border-radius: 12px;
  border: 1px solid rgb(142, 102, 252);
  box-shadow: 0 0 20px rgba(225, 223, 229, 0.5);
  width: 85%;
  max-width: 450px;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
  font-family: 'Russo One', sans-serif;
  position: absolute;
  cursor: move;
  transition: all 0.3s ease;
  margin-top: 75px;
  padding-bottom: 2rem;
}

.modal-content-income.tall,
.modal-content-income.expanded,
.modal-content-savings.tall,
.modal-content-savings.expanded {
  min-height: 160px;
  scroll-behavior: smooth;
}

.modal-content-income::-webkit-scrollbar,
.modal-content-savings::-webkit-scrollbar {
  width: 15px;
}

.modal-content-income::-webkit-scrollbar-track,
.modal-content-savings::-webkit-scrollbar-track {
  background: #1e1e2f;
  border-radius: 10px;
}

.modal-content-income::-webkit-scrollbar-thumb,
.modal-content-savings::-webkit-scrollbar-thumb {
  background-color: #8a2be2;
  border-radius: 10px;
  border: 2px solid #1e1e2f;
}

.modal-content-income::-webkit-scrollbar-thumb:hover,
.modal-content-savings::-webkit-scrollbar-thumb:hover {
  background-color: #a64bff;
}

  
  .modal-content-income h2 {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    color: #8a2be2;
    text-align: center;
  }

  .modal-content-savings h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #8a2be2;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 0.6rem;
    font-size: 0.85rem;
    color: #d6d6f5;
  }
    
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.6rem;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;  
    gap: 0.6rem;             
  }
  
  .modal-buttons button {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    min-width: 80px;
  }
  
  .modal-buttons button[type="submit"] {
    background-color: #8a2be2;
    color: #fff;
  }
  
  .modal-buttons button[type="submit"]:hover {
    background-color: #a64cf5;
  }
  
  .modal-buttons button[type="button"] {
    background-color: #444;
    color: #fff;
  }
  
  .modal-buttons button[type="button"]:hover {
    background-color: #666;
  }

  .success-message {
    color: #4caf50; 
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 0.45rem;
  margin-top: 0.4rem;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #2b2b3d;
  color: #fff;
  font-size: 0.85rem;
  padding-left: 0.7rem; 
}


input:focus,
select:focus {
  border-color: #8a2be2;
  outline: none;
}


.form-group-income,
.form-group-category select,
.form-group-monthly select {
  width: 80%;
  padding: 0.45rem;
  margin-top: 0.4rem;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #2b2b3d;
  color: #fff;
  font-size: 0.85rem;
  padding-left: 0.7rem; 
  margin-bottom: 1rem;
}

.form-group-custom {
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .form-group-add {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }


  input[type="month"] {
  width: 80%;
  padding: 0.45rem;
  margin-top: 0.4rem;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #2b2b3d;
  color: #fff;
  font-size: 0.85rem;
  padding-left: 0.7rem; 
  cursor: pointer;
}

.form-group-assign{
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  
.modal-content-income .success-message,
.modal-content-savings .success-message {
    color: #4caf50; 
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

select, input[type="text"],  input[type="date"], input[type="month"] {
  -webkit-appearance: none;  
  -moz-appearance: none;     
  appearance: none;
}

  @media (min-width: 250px) and (max-width: 700px){

  .modal-content-income h2,
  .modal-content-savings h2 {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
  }

  .modal-content-income,
  .modal-content-savings {
    width: 85%;            
    max-width: none;
    padding: 1rem 1.2rem 3rem 1.2rem;
    max-height: calc(100vh - 190px);
    overflow-y: auto; 
    margin-top: -3px;
  }
    
  }

  @media (min-width: 1801px){

    .modal-content-income {
        margin-top: 280px;
      }

      .modal-content-savings {
        margin-top:20rem;
      }

  }

  
  